.Rproj.user
.Rhistory
.RData
.Ruserdata
/CategoricalOutcome/log
/CategoricalOutcome/out
/CategoricalOutcome/.Rhistory
/CategoricalOutcome/.Rproj.user
/CategoricalOutcome/enrollment
/CategoricalOutcome/ISAOut1
/CategoricalOutcome/ISAOut2
/ThreeISA/ISAOut1
/ThreeISA/ISAOut2
/ThreeISA/ISAOut3
/ThreeISA/log
/ThreeISA/out
/ThreeISA/.Rproj.user
/ThreeISA/enrollment
