.Rproj.user
.Rhistory
.RData
.Ruserdata
/CategoricalOutcome/log
/CategoricalOutcome/out
/CategoricalOutcome/.Rhistory
/CategoricalOutcome/.Rproj.user
/CategoricalOutcome/enrollment
/CategoricalOutcome/ISAOut1
/CategoricalOutcome/ISAOut2
